name: .NET

on:
  push:
    branches: [ main, release/** ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Fetch unshallow
      run: git fetch --prune --tags --unshallow
    - name: Restore dependencies
      run: dotnet restore
    - name: Install GitVersion 
      uses: gittools/actions/gitversion/setup@v0.9.7
      with:
        versionSpec: '5.x'
    - name: Determine Version
      id:   gitversion
      uses: gittools/actions/gitversion/execute@v0.9.7
    - name: Build
      run: dotnet build --no-restore
    - name: Publish
      run: |
        dotnet publish src/KindxtApp/Kindxt.csproj -c Release --self-contained true /p:PublishSingleFile=true /p:AssemblyVersion="$GitVersion_AssemblySemVer" /p:Version="$GitVersion_SemVer" -r win-x64 -o publish
    - name: Zip Content
      run: |
        zip -qq -r kindxt-windows-${{ steps.gitversion.outputs.semVer }}.zip publish .
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2.2.2
      with:
        name: kindxt-windows-${{ steps.gitversion.outputs.semVer }}
        path: kindxt-windows-${{ steps.gitversion.outputs.semVer }}.zip
        if-no-files-found: error
    
    - name: release
      uses: actions/create-release@v1
      id: create_release
      with:
        draft: false
        prerelease: false
        release_name: kindxt-${{ steps.gitversion.outputs.semVer }}
        tag_name: ${{ steps.gitversion.outputs.semVer }}
        body_path: CHANGELOG.md
      env:
        GITHUB_TOKEN: ${{ github.token }}
    - name: Upload release windows
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ github.token }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: kindxt-windows-${{ steps.gitversion.outputs.semVer }}.zip
        asset_name: kindxt-windows-${{ steps.gitversion.outputs.semVer }}.zip
        asset_content_type: application/zip
