name: Build

on:
  push:
    branches: [ main, develop, release/** ]
  pull_request:
    branches: [ main, develop, release/** ]

jobs:
  build:

    runs-on: ubuntu-latest

    outputs:
      semVer: ${{ steps.set_semver.outputs.semVer }}

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Fetch unshallow
      run: git fetch --prune --tags --unshallow
    - name: Restore dependencies
      run: dotnet restore
    - name: Install GitVersion 
      uses: gittools/actions/gitversion/setup@v0.9.7
      with:
        versionSpec: '5.x'
    - name: Determine Version
      id:   gitversion
      uses: gittools/actions/gitversion/execute@v0.9.7
    - name: Output semver
      id: set_semver
      run: echo "::set-output name=semVer::$GitVersion_SemVer"
    - name: Build
      run: dotnet build --no-restore
    - name: Publish
      run: |
        dotnet publish src/KindxtApp/Kindxt.csproj -c Release --self-contained true /p:PublishSingleFile=true /p:AssemblyVersion="$GitVersion_AssemblySemVer" /p:Version="$GitVersion_SemVer" -r win-x64 -o publish
    - name: Zip Content
      run: |
        zip -r kindxt-windows-${{ steps.gitversion.outputs.semVer }}.zip publish
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2.2.2
      with:
        name: kindxt-windows-${{ steps.gitversion.outputs.semVer }}
        path: kindxt-windows-${{ steps.gitversion.outputs.semVer }}.zip
        if-no-files-found: error

  release:
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    needs: build
    env:
      branch: ${{ github.head_ref || github.ref_name }} 

    steps:
    - uses: actions/checkout@v2
    - name: 'Download artifact'
      uses: actions/download-artifact@v2
      with:
        name: kindxt-windows-${{ needs.build.outputs.semVer }}
        path: ${{ runner.temp }}
    - name: release
      uses: actions/create-release@v1
      id: create_release
      with:
        draft: false
        prerelease:  ${{ env.branch != 'main' }}
        release_name: kindxt-${{ needs.build.outputs.semVer }}
        tag_name: v${{ needs.build.outputs.semVer }}
        body_path: CHANGELOG.md
      env:
        GITHUB_TOKEN: ${{ github.token }}
    - name: Upload release windows
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ github.token }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ${{ runner.temp }}/kindxt-windows-${{ needs.build.outputs.semVer }}.zip
        asset_name: kindxt-windows-${{ needs.build.outputs.semVer }}.zip
        asset_content_type: application/zip